
// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale
$color-white: #ffffff;
$color-gray-98: #f3f3f3;
$color-gray-95: #EDEDED;
$color-gray-90: #E3E3E3;
$color-gray-85: #D9D9D9;
$color-gray-80: #CCCCCC;
$color-gray-75: #C0C0C0;
$color-gray-70: #B0B0B0;
$color-gray-60: #999999;
$color-gray-50: #808080;
$color-gray-45: #727272;
$color-gray-40: #696969;
$color-gray-30: #4D4D4D;
$color-gray-20: #363636;
$color-gray-15: #222222;
$color-gray-10: #171717;
$color-black: #000000;

$color-sinclair: #923437;

$color-primary: $color-sinclair;
