
.header {
    align-items: center;
    background: $color-primary;
    background-blend-mode: multiply;
    background-image: url('../images/priscilla-du-preez-623040-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 66vh;
    justify-content: center;
    padding: 0;

    h1 {
        color: $color-white;
        font-size: $fontsize-xl;
        font-weight: $fontweight-bold;
        margin: 0;
    }
}
