
.header {
    align-items: center;
    background: $color-primary;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-image: url('../images/priscilla-du-preez-623040-unsplash.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 66vh;
    justify-content: center;
    padding: 0;

    h1 {
        color: $color-white;
        display: block;
        font-size: $fontsize-xl;
        font-weight: $fontweight-bold;
        margin: 0;
        line-height: $fontsize-xl * 1.15;
        text-align: center;
    }
}
