
.students {
    display: flex;
    flex-wrap: wrap;
    margin: 1.0em auto;

    .student {
        border: 1px solid $color-white;
        box-shadow: 0 0 7px transparentize($color-black, 0.5);
        display: flex;
        flex-direction: column;
        font-size: $fontsize-small;
        margin: 0 1.0em 1.0em 0;
        width: 320px;

        .avatar {
            background: $color-sinclair;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 320px;
        }

    .info {
        padding: 0 1.0em;

        dt {
            color: $color-gray-30;
            font-weight: $fontweight-bold;
        }

        dd {
            margin: 0 0 0.5em 0;
        }
    }
}
}
